<!DOCTYPE html>
<html ng-app="moneYou">
<head>
    <title>MoneYou</title>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
    <script src="angular.js"></script>
    <script src="controllers/moneYou.js"></script>
</head>

<body ng-controller="rateTabCtrl">
    <div class="page-header">
        <h1>
            Moneyou Interest Rate tables
        </h1>
    </div>
    <div class="row well">
 
    <input ng-repeat-start="button in [0, 1, 2, 3]" ng-model="settings.mcat"
    	type="radio" value="{{button}}" ng-checked="$first">
	<span ng-repeat-end>{{categories[button]}} &nbsp &nbsp </span>

    <span class="input-group-btn">
        <button class="btn btn-default"
            ng-click="refresh()">Select</button>
    </span>
 
    </div>    
    <div class="panel">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Variable</th>
                    <th>1 year</th>
                    <th>5 years</th>
                    <th>10 years</th>
                    <th>15 years</th>
                    <th>20 years</th>
                    <th>30 years</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data.ratetabs">
                    <td>{{item.date}}</td>
                    <td>{{item.variabel}}</td>
                    <td>{{item.vast1jr}}</td>
                    <td>{{item.vast5jr}}</td>
                    <td>{{item.vast10jr}}</td>
                    <td>{{item.vast15jr}}</td>
                    <td>{{item.vast20jr}}</td>
                    <td>{{item.vast30jr}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>


</html>
